<!-- <p>home works!</p> -->
<div class="container-fluid">
  <div class="row main-content">
    <div class="page-content">
      <div class="card">
        <div class="content">
          <h2 class="title">View Book</h2>
          <p class="copy">Description</p>
          <button class="btn" [routerLink]="['/adminViewBook']">View</button>
        </div>
      </div>
      <br/>
        <div class="card">
          <div class="content">
            <h2 class="title">Add Book</h2>
            <p class="copy">Description</p>
            <button class="btn" >Add Books</button>
          </div>
        </div>
          
    
  </div>
</div>
